@import "tailwindcss";

:root {
  --background: #0fd08b;
  --color-black: #000000;
  --color-white: #ffffff;

  --screen-gap: 8px;
}

body {
  background: var(--background);
  color: var(--color-black);
  font-family: var(--font-inter), sans-serif;
  height: 100vh;
}
